{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Velespi{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
</head>
<body>
<div class="container">
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<header class="header">
		<div id="logo">
			<a href="/">velespi</a>
		</div>
		<div id="nav">
			<a href="/">Anasayfa</a>
			{% if user.is_authenticated %}
			<a href="{% url "new_place" %}">Yeni Yer Ekle</a>
			<a href="{% url "logout" %}">Çıkış yap ({{ user }})</a>
			{% else %}
			<a href="{% url "register" %}">Kayıt</a>
			<a href="{% url "login" %}">Giriş</a>
			{% endif %}
		</div>
	</header>
	<div class="content">
		{% block content %}
			PLACEHOLDER
		{% endblock %}
	</div>
	<footer class="footer">
		Linux Yaz Kampı 2016 - Django Sınıfı örnek projesidir.
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>

{% block js %}
{% endblock %}

</body>
</html>