{% extends "base.html" %}

{% block content %}

    <div id="map" style="height: 300px"></div>

     {% for place in places %}
        <h3>
            <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
        </h3>
        <p>
            {{ place.description|linebreaksbr }}
        </p>
        {% if place.review_count > 0 %}
        <h3>Reviews ({{ place.review_count }})</h3>
        {% for review in place.review_set.all %}
        <blockquote>
            {{ review.comment }}
            <small>
                {{ review.user.username }}
            </small>
        </blockquote>
        {% endfor %}
        {% endif %}

    {% endfor %}

{% endblock %}

{% block js %}
<script>
var map = L.map('map').setView([40.705601,31.678499], 12);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

{% for place in places %}
L.marker([{{ place.coordinates }}]).addTo(map)
    .bindPopup('{{ place.name }}');
{% endfor %}
</script>

{% endblock %}
