{% extends "base.html" %}

{% block content %}

     {% for place in places %}
        <h3>{{ place.name }}</h3>
        <p>
            {{ place.description|linebreaksbr }}
        </p>
        {% if place.review_count > 0 %}
        <h3>Reviews ({{ place.review_count }})</h3>
        {% for review in place.review_set.all %}
        <blockquote>
            {{ review.comment }}
            <small>
                {{ review.user.username }}
            </small>
        </blockquote>
        {% endfor %}
        {% endif %}

    {% endfor %}

{% endblock %}
