{% extends "base.html" %}

{% block content %}

    <h3>{{ place.name }}</h3>
    <p>
        <span id="like-count">{{ place.likes.count }}</span> kişi beğendi.

        {% if user in place.likes.all %}
        <a id="like" href="{% url "like_place" place.id %}">Beğenmekten vazgeç</a>
        {% else %}
        <a id="like" href="{% url "like_place" place.id %}">Beğen</a>
        {% endif %}
    </p>
    <div id="map"></div>
    <p>
        {{ place.description|linebreaksbr }}
    </p>
    {% if place.review_count > 0 %}
        <h3>Reviews</h3>
        {% for review in place.review_set.all %}
        <blockquote>
            {{ review.comment }} 
            ({{ review.vote }})
            <small>
                {{ review.user.username }}
            </small>
        </blockquote>
        {% endfor %}
    {% endif %}

    <h3>Fotoğraflar</h3>
    {% for media in place.media_set.all %}
        <img src="{{ media }}">
    {% empty %}
        <p>
            Bu yerin hiç fotoğrafı yok.
        </p>
    {% endfor %}

    <p>
        <a href="{% url "new_media" place.id %}">Fotoğraf ekle</a>
        <a href="{% url "new_review" place.id %}">Yorum ekle</a>
    </p>

{% endblock %}

{% block js %}
<script>
var map = L.map('map').setView([{{ place.coordinates }}], 12);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var marker = L.marker([{{ place.coordinates }}]).addTo(map)
    .bindPopup(
        '<a href="{{ place.get_absolute_url }}">' + 
        '{{ place.name }}' +
        '</a>'
    );

$('#like').on('click', function (event) {
    $.getJSON(
        $("#like").attr('href'),
        function (response) {
            $('#like-count').html(response.count);

            if (response.action === 'like') {
                $('#like').html('Beğenmekten vazgeç');
            } else {
                $('#like').html('Beğen');
            }
        }
    );
    event.preventDefault();
});
</script>
{% endblock %}
